@import './Proyecto2';

/* Nomenclatura BEM */

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.card--large {
    font-size: 18px;
}

.card__header {
    background-color: #f0f0f0;
    padding: 10px;
}

.card__title {
    margin: 0;
    color: #333;
}

.card__content {
    padding: 10px 0;
}

.card__text {
    color: #666;
}

.card__footer {
    padding-top: 10px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn--primary {
    background-color: #0056b3;
}