:root {
    --body-color: #b12626;
    --login-border: #fff;
    --text-buttom: #1d1d1d;
    --font-login: #1fc248;
}

body{
    background-image: linear-gradient(to bottom, #2228be, #b32f26, #494b8d);
    font-family: Arial, Helvetica, sans-serif;
}